<!DOCTYPE html>
<html>
    <head>
        <title>Update Item</title>
    </head>
    <body>
        <h3>Update</h3>
        <form action="/item/create" method="put">
            <input name="csrf_token" type="hidden" value="{{ csrf_token }}">
            <label>Item Name</label>
            <input type="text" name="name" required>
            <label>Price</label>
            <input type="float" name="price" required>
            <label>Store ID</label>
            <input type="int" name="store_id" required>
            <button type="submit">Update</button>
        </form>
        <a href="/">Return to home</a>
    </body>
</html>